<p-toast></p-toast>

<div class="card">
  <h5>Single</h5>
  <p>In single mode, a row is selected on click event of a row. If the row is already selected then the row gets unselected.</p>
  <p-table [value]="products" selectionMode="single" [(selection)]="selectedProduct1" dataKey="code">
    <ng-template pTemplate="header">
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Category</th>
        <th>Quantity</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr [pSelectableRow]="product">
        <td>{{product.code}}</td>
        <td>{{product.name}}</td>
        <td>{{product.category}}</td>
        <td>{{product.quantity}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div class="card">
  <h5>Multiple</h5>
  <p>In multiple mode, selection binding should be an array. For touch enabled devices, selection is managed by tapping and for other devices metakey or shiftkey are required. Setting metaKeySelection property as false enables multiple selection without meta key.</p>

  <p-table [value]="products" selectionMode="multiple" [(selection)]="selectedProducts1" [metaKeySelection]="true" dataKey="code">
    <ng-template pTemplate="caption">
      Multiple Selection with MetaKey
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Category</th>
        <th>Quantity</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product  let-rowIndex="rowIndex">
      <tr [pSelectableRow]="product" [pSelectableRowIndex]="rowIndex">
        <td>{{product.code}}</td>
        <td>{{product.name}}</td>
        <td>{{product.category}}</td>
        <td>{{product.quantity}}</td>
      </tr>
    </ng-template>
  </p-table>

  <p-table [value]="products" selectionMode="multiple" [(selection)]="selectedProducts2" styleClass="p-mt-5" dataKey="code">
    <ng-template pTemplate="caption">
      Multiple Selection without MetaKey
    </ng-template>
    <ng-template pTemplate="header">
<!--      <tr [pSelectableRow]="product">-->
<!--        <th>Code</th>-->
<!--        <th>Name</th>-->
<!--        <th>Category</th>-->
<!--        <th>Quantity</th>-->
<!--      </tr>-->
    </ng-template>
    <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
      <tr [pSelectableRow]="product" [pSelectableRowIndex]="rowIndex">
        <td>{{product.code}}</td>
        <td>{{product.name}}</td>
        <td>{{product.category}}</td>
        <td>{{product.quantity}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div class="card">
  <h5>Column Selection</h5>
  <p>Selection using custom elements.</p>

  <p-table [value]="products">
    <ng-template pTemplate="header">
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Category</th>
        <th>Quantity</th>
        <th style="width:4rem"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{product.code}}</td>
        <td>{{product.name}}</td>
        <td>{{product.category}}</td>
        <td>{{product.quantity}}</td>
        <td>
          <button type="button" pButton pRipple icon="pi pi-search" (click)="selectProduct(product)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div class="card">
  <h5>Events</h5>
  <p>onRowSelect and onRowUnselect are available as selection events.</p>
  <p-table [value]="products" selectionMode="single" [(selection)]="selectedProduct2" dataKey="code"
           (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)">
    <ng-template pTemplate="header">
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Category</th>
        <th>Quantity</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr [pSelectableRow]="product">
        <td>{{product.code}}</td>
        <td>{{product.name}}</td>
        <td>{{product.category}}</td>
        <td>{{product.quantity}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div class="card">
  <h5>RadioButton</h5>
  <p>Single selection can also be handled using radio buttons by enabling the selectionMode property of column as "single".</p>
  <p-table [value]="products" [(selection)]="selectedProduct3" dataKey="code">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem"></th>
        <th>Code</th>
        <th>Name</th>
        <th>Category</th>
        <th>Quantity</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>
          <p-tableRadioButton [value]="product"></p-tableRadioButton>
        </td>
        <td>{{product.code}}</td>
        <td>{{product.name}}</td>
        <td>{{product.category}}</td>
        <td>{{product.quantity}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div class="card">
  <h5>Checkbox Selection</h5>
  <p>Multiple selection can also be handled using checkboxes by enabling the selectionMode property of column as "multiple".</p>

  <p-table [value]="products" [(selection)]="selectedProducts3" dataKey="code">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th>Code</th>
        <th>Name</th>
        <th>Category</th>
        <th>Quantity</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>
          <p-tableCheckbox [value]="product"></p-tableCheckbox>
        </td>
        <td>{{product.code}}</td>
        <td>{{product.name}}</td>
        <td>{{product.category}}</td>
        <td>{{product.quantity}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
